// 14,5 keys in a row, 5 rows in a standard mac keyboard

$key-size: clamp(3rem, 3vw, 6rem);

.keyboard {
    display: grid;
    grid-template-rows: repeat(5, calc($key-size * 1.5));
    grid-template-columns: repeat(58, 1fr);
    gap: calc($key-size / 8);
    width: 100%;
}

.key {
    grid-column: span 4;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: $key-size;
    padding: 5px;
    border: 2px solid darkgrey;
    border-radius: 5px;
    font-size: clamp(1rem, 2.5vw, 2.25rem);
    line-height: 0;
}

.key--backspace,
.key--tab,
.key--capslock {
    grid-column: span 6;
}

.key--enter {
    grid-column: span 8;
}

.key--shift,
.key--meta,
.key--control {
    grid-column: span 7;
}

.key--space {
    grid-column: span 22;
}
