@import '../../styles/variables';

// ~14.5 — keys in a kbd row, 4 — each key divided into 4 "key columns"
$keyboard-columns: 14.5 * 4;

.keyboard {
    display: grid;
    grid-template-rows: repeat(5, calc($key-size * 1.5));
    grid-template-columns: repeat($keyboard-columns, 1fr);
    gap: calc($key-size / 8);
    width: 100%;
}

.keyboard__key {
    grid-column: span 4;
}

.keyboard__key--position-0-1,
.keyboard__key--position-13-1,
.keyboard__key--position-0-3 {
    grid-column: span 5;
}

.keyboard__key--position-13-0,
.keyboard__key--position-0-2,
.keyboard__key--position-2-4,
.keyboard__key--position-4-4,
.keyboard__key--position-0-4,
.keyboard__key--position-6-4 {
    grid-column: span 6;
}

.keyboard__key--position-12-2 {
    grid-column: span 8;
}

.keyboard__key--position-12-3 {
    grid-column: span 9;
}

.keyboard__key--position-3-4 {
    grid-column: span 26;
}
