@import '../../styles/variables';

.key {
    grid-column: span 4;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: $key-size;
    padding: 5px;
    border: 2px solid darkgrey;
    border-radius: 5px;
    font-size: clamp(1rem, 2.5vw, 2.25rem);
    line-height: 0;
}

.key--backspace,
.key--tab,
.key--capslock {
    grid-column: span 6;
}

.key--enter {
    grid-column: span 8;
}

.key--shift,
.key--meta,
.key--control {
    grid-column: span 7;
}

.key--space {
    grid-column: span 22;
}
