@import '../../styles/variables';

.key {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: $key-size;
    padding: 5px;
    border: 2px solid darkgrey;
    border-radius: 5px;
    font-size: clamp(1rem, 2.5vw, 2.25rem);
    line-height: 0;
}
